{% for cotisation in cotisations %}
<li>
  <a href="{{ path('bordereau_index', {'cotisation': cotisation.slug})}}">
    <i class="fa fa-caret-right"></i>{{ cotisation.annee }}
  </a>
</li>
{% endfor %}
